* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    --orange: #f87060;
    --darkblue: #102542;
    --tan: #b3a394;
    --light: #cdd7d6;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: var( --darkblue );
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

header img {
    width: 80px;
}

header a {
    text-decoration: none;
    color: var( --tan );
    padding: 1rem;
}

a svg {
    width: 30px;
    fill: #f87060;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: var(--darkblue);
    color: var(--light);
}

button {
    border-color: white;
    border: 2px solid;
    border-radius: 8px;
    padding: 8px 32px;
    background-color: var(--orange);
    color: var(--light);
    font-size: 16px;
}

.row {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.row-project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    gap: 2rem;
}

.card {
    display: flex;
    flex: 0 0 200px;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    color: var(--darkblue);
}

.row-hero {
    padding: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var( --darkblue );
    color: var(--light);
    box-shadow: 1px 2px 2px 0px var(--orange);

}

.row-hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    flex-wrap: wrap;
    
}

.hero-left {
    max-width: 35%;
    min-width: 300px;

}

.hero-left h1 {
    font-size: 48px;
    margin-bottom: 1rem;
}

.hero-left p {
    font-size: 18px;
    margin-bottom: 1rem;
    color: var(--tan);
}

.hero-left button {
    border: 0px;
}

.placeholder-box {
    width: 200px;
    height: 200px;
    background-color: #f1f1f1;
    border: 3px solid var(--orange);
    border-radius: 10px;
    box-shadow: 1px 2px 5px 0 var(--darkblue);

}

.signup-box {
    display: flex;
    background-color: var(--darkblue);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px var(--orange);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    color: var(--light);
}

.row-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    background-color: var(--tan);
    box-shadow: 1px 1px 5px 0px var(--darkblue);
}

.row-quote > div {
    width: 80%;
    display: flex;
    flex-direction: column;
    max-width: 1000px;

}

.row-quote > div > p {
    font-size: 36px;
    font-style: italic;
}
.row-quote div .quote-author {
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    align-self: flex-end;
    padding: 1rem;
}
.row-signup {
    padding: 5%;
    max-width: 800px;
    flex: 1;
}



